
.vs/C\# DesktopApplication/FileContentIndex/47498d55-1e50-4ad2-871b-495f22397d5f.vsidx
C\# DesktopApplication/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
C\# DesktopApplication/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
C\# DesktopApplication/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
C\# DesktopApplication/obj/Debug/C\# DesktopApplication.csproj.AssemblyReference.cache
